.topNav, .bottomNav {
    background-color: #440000 !important;
}

.tableTab {
    background-color: #440000 !important;
}

.topNav li, .bottomNav li {
    color: dimgray;
}

.topNav a, .bottomNav a {
    color: white !important;
}

.navBarCell1Rev, .activeTableTab {
    color: black !important;
}

.subNav, thead tr th, body.class-declaration .summary h3, body.class-declaration .details h3, body.class-declaration .summary .inheritedList h2 {
    background-color: #e9dede !important;
    border: 0;
}

.title, a {
    color: #440000 !important;
}

a:hover, a:active {
    color: #F8981D !important;
}

body, .overviewSummary caption, .memberSummary caption, .typeSummary caption, .useSummary caption, .constantsSummary caption, .deprecatedSummary caption, .requiresSummary caption, .packagesSummary caption, .providesSummary caption, .usesSummary caption {
    color: black;
}